<div class="card" onclick="@OnClick">
    <div class="card-content">@Content</div>
    <MudIcon Style="status-icon" Icon="@StatusIcon"></MudIcon>
</div>

@code {
    [Parameter]
    public string? Content { get; set; }

    [Parameter, EditorRequired]
    public string StatusIcon { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
